<?xml version="1.0"?>
<config>
    <modules>
        <Moviedeal_General>
            <version>0.1.0</version>
        </Moviedeal_General>
    </modules>
    <frontend> 
        <routers>
            <general>
                <use>standard</use>
                <args>
                    <module>Moviedeal_General</module>
                    <frontName>signup</frontName>
                </args>
            </general>
        </routers>       
    </frontend>
    
    <global>
        <models>
            <general>
                <class>Moviedeal_General_Model</class>
            </general>
        </models>
        <resources>
            <fakebundle_setup>
                <setup>
                    <module>Moviedeal_General</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fakebundle_setup>
            <fakebundle_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fakebundle_write>
            <fakebundle_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fakebundle_read>
        </resources>
        <blocks>
            <general>
                <class>Moviedeal_General_Block</class>
            </general>
        </blocks>
        <helpers>
            <general>
                <class>Moviedeal_General_Helper</class>
            </general>
        </helpers>
    </global>
</config>