/* IE css */

.dd{ width:70%}
.txtbx4{ line-height:24px;}
.txtbx5{ width:31%;}
.btn-s{ float:left !important;}
.top-head{ margin-bottom:5px;}
.right-sec address{ margin:5px 0px 0px 0px; font-style:normal;}
.srch{margin:7px 0px 0px 0px !important;}
.txtbox{ line-height:33px;}