<?xml version="1.0"?>
<config>
    <modules>
        <Gclone_Vouchercode>
            <version>0.1.0</version>
        </Gclone_Vouchercode>
    </modules>
    <frontend>
        <routers>
            <vouchercode>
                <use>standard</use>
                <args>
                    <module>Gclone_Vouchercode</module>
                    <frontName>vouchercode</frontName>
                </args>
            </vouchercode>
        </routers>
        <layout>
            <updates>
                <vouchercode>
                    <file>vouchercode.xml</file>
                </vouchercode>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<vouchercode>
				<use>admin</use>
				<args>
					<module>Gclone_Vouchercode</module>
					<frontName>vouchercode</frontName>
				</args>
			</vouchercode>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<vouchercode module="vouchercode">
				<title>Vouchercode</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="vouchercode">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>vouchercode/adminhtml_vouchercode</action>
					</items>
				</children>
			</vouchercode>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Gclone_Vouchercode>
							<title>Vouchercode Module</title>
							<sort_order>10</sort_order>
						</Gclone_Vouchercode>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<vouchercode>
					<file>vouchercode.xml</file>
				</vouchercode>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <vouchercode>
                <class>Gclone_Vouchercode_Model</class>
                <resourceModel>vouchercode_mysql4</resourceModel>
            </vouchercode>
            <vouchercode_mysql4>
                <class>Gclone_Vouchercode_Model_Mysql4</class>
                <entities>
                    <vouchercode>
                        <table>vouchercode</table>
                    </vouchercode>
                </entities>
            </vouchercode_mysql4>
        </models>
        <resources>
            <vouchercode_setup>
                <setup>
                    <module>Gclone_Vouchercode</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vouchercode_setup>
            <vouchercode_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vouchercode_write>
            <vouchercode_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vouchercode_read>
        </resources>
        <blocks>
            <vouchercode>
                <class>Gclone_Vouchercode_Block</class>
            </vouchercode>
        </blocks>
        <helpers>
            <vouchercode>
                <class>Gclone_Vouchercode_Helper</class>
            </vouchercode>
        </helpers>
    </global>
</config>